@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: #e4d2e7;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

p {
  /* font-family: "DM Serif Display", serif; */
  font-family: "Inter", sans-serif;
  color: #3472cf;
  font-size: 80px;
}

.title {
  text-align: center;
  margin-top: 280px;
}
